{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'bootstrap/css/bootstrap.min.css' %}"
>

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'style.css' %}"
>

<title>RAMAIS</title>

<nav class="navbar navbar-expand-lg navbar-light">

    <a
        class="navbar-brand"
        href="{% url 'home' %}"
    >
        <img
            src="{% static 'img/telefone.png' %}"
            width="90"
            height="70"
            alt="RAMAIS"
        >
    </a>

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Alterna navegação"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse"
        id="navbarNavDropdown"
    >

        <ul class="navbar-nav">

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{% url 'lista_ramais' %}"
                >
                    Ramais
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{% url 'lista_emails' %}"
                >
                    Emails
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{% url 'lista_empresas' %}"
                >
                    Empresas
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{% url 'api-root' %}"
                    style="color: red;"
                >
                    API
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{% url 'admin:index' %}"
                >
                    Administrador
                </a>
            </li>

            {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <span class="nav-link">
                        Olá,
                        {{ request.user.first_name|default:request.user.username }}
                    </span>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'logout' %}"
                    >
                        Logout
                    </a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'login' %}"
                    >
                        Login
                    </a>
                </li>

            {% endif %}

        </ul>

    </div>

</nav>