{% extends "parciais/base.html" %}

{% block content %}
            <div align="right">
                <button type="button" onclick="window.print()" class="btn btn-outline-secondary">Imprimir</button>
            </div>
    {% for i in empresas %}
        <section class="container margin">
          <div class="container text-center margin">
            <div class="container-fluid text-center">
              <div class="row content">
                <div class="col-sm-1 sidenav">
                </div>
                <div class="col-sm-10 text-left jumbotron margin" id="empresas">
                  <h4> {{i.nome_emp}}</h4>
                  <hr>
                      <p>CNPJ: {{i.cnpj}}</p>
                      <p>IE: {{i.insc_estadual}}</p>
                      <p>{{i.telefone_emp}}</p>
                      <p>{{i.rua}}, {{i.numero}} - {{i.bairro}}</p>
                      <p>{{i.complemento}}</p>
                      <p>CEP: {{i.cep}}</p>
                  <hr>
                </div>
                     <div class="col-sm-1 sidenav">
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endfor %}

{% endblock %}