{% extends "parciais/base.html" %}

{% block content %}
{% load static %}
	<link rel= "stylesheet" type="text/css" href= "{% static '/bootstrap/css/bootstrap.min.css' %}" >
	<link rel= "stylesheet" type="text/css" href= "{% static '/style.css' %}" >

<section>
    <div class="container w-auto lista">
        <p>EDIÇÃO RAMAL</p>
    </div>
</section>
<section class="container w-auto bgcolor_cad">
        <form action="submit" method="POST">{% csrf_token %}
          <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Ramal:</label>
                  <input type="number" name="ramal" class="form-control"  >
                </div>
                <div class=" col-md-4">
                  <label>Responsável:</label>
                  <input type="text" name="responsavel"  class="form-control"  >
                </div>
          </div>
            <div class="form-row">
                  <div class="col-md-4">
                    <label>Email:</label>
                    <input type="email" name="email"  class="form-control">
                  </div>
                    <div class="col-md-4">
                      <label >Setor:</label>
                      <select id="inputState" name="setor"  class="form-control">
                        {% for s in setores %}
                            <option value="{{ s.setor }}" id="pk_setor">{{ s.setor }}</option>
                        {% endfor %}
                      </select>
                        <a href="/ramais/edicao/setor/">
                            <button type="button" class="btn btn-info">ADICIONAR</button>
                        </a>
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputState">Empresa:</label>
                      <select id="inputState01" name="empresa"  class="form-control">
                        {% for e in empresas %}
                            <option value="{{ e.nome_emp }}" id="pk_empresa">{{ e.nome_emp }}</option>
                        {% endfor %}
                      </select>
                    </div>
            </div>
            <button type="submit" class="btn btn-success">SALVAR</button>
            <a href="/ramais/">
                <button type="button" class="btn btn-danger">CANCELAR</button>
            </a>
        </form>
</section>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

