{% extends "parciais/base.html" %}

{% block content %}

<section>
    <div class="container w-auto lista">
        <p>ADICIONAR SETOR</p>
    </div>
</section>

<section class="container w-auto bgcolor_cad">

    <form
        action="{% url 'submit_setor' %}"
        method="POST"
    >
        {% csrf_token %}

        <div class="form-group col-md-4">

            <label for="setor">
                Setor:
            </label>

            <input
                type="text"
                id="setor"
                name="setor"
                class="form-control"
                maxlength="150"
                required
                autofocus
            >

        </div>

        <div class="mt-3">

            <button
                type="submit"
                class="btn btn-success"
            >
                SALVAR
            </button>

            <a
                href="{% url 'edicao_ramal' %}"
                class="btn btn-danger"
            >
                CANCELAR
            </a>

        </div>

    </form>

</section>

{% endblock %}